.App
{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#apropos-section
{
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: linear-gradient(#0A192F, #4C5767);
}

#competences-section
{
    position: sticky;
    top: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(#0A192F, #4C5767);
}

#projets-section
{
    position: sticky;
    top: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(#0A192F, #4C5767);
}

#contact-section
{
    position: sticky;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: linear-gradient(yellow, blue);
}

.apropos
{
    position: absolute;
    top: 7vw;
    height: 93vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    padding: 0 15vw;
}

.competences
{
    position: absolute;
    top: 7vw;
    height: 93vh;
    width:100vw;
}

.projets
{
    position: absolute;
    top: 7vw;
    height: 93vh;
    width:100vw;
}

.contact
{
    position: absolute;
    top: 7vw;
    height: 93vh;
    width:100vw;
}

.section .title
{
    text-decoration: underline;
    text-transform: uppercase;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: orangered;
}

.apropos .title
{
    font-size: 6vw;
    margin-bottom: 0;
    margin-top: 1vw;
    -webkit-text-stroke: 1.25px white;
    color: transparent;
}

.apropos .text
{
    font-size: 3vw;
    color: white;
    -webkit-text-stroke: 1.25px white;
}

.projets .link
{
    width: 15vw;
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 4px black solid;
}

.projets .link .text
{
    font-weight: bold;
    color: black;
}
.projets-link-text:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.white
{
    color: white;
}