#apropos-section
{
    position: sticky;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: linear-gradient(var(--main-bg-color), var(--second-bg-color));
    scroll-snap-align: start;
}

.apropos
{
    position: absolute;
    top: 5vw;
    height: 93vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw;
    margin-top: -5vw;
}

.apropos .title
{
    font-size: 6vw;
    margin-bottom: 0;
    margin-top: 1vw;
    -webkit-text-stroke: 1.25px var(--main-text-color);
    color: var(--second-text-color);
}

.apropos .text
{
    margin-top: 2vw;
    font-size: 3vw;
    -webkit-text-stroke: 1.25px var(--main-text-color);
}

.apropos .name
{
    color: var(--third-text-color)
}

.apropos .arrow
{
    position: absolute;
    bottom: 5rem;
    left: 47.5vw;
    width: 5vw;
}

.apropos .arrow:hover
{
    cursor: pointer;
}