#competences-section
{
    position: sticky;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(var(--main-bg-color), var(--second-bg-color));
    scroll-snap-align: start;
}

.competences
{
    position: absolute;
    top: 7vw;
    height: 93vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    padding: 0 5vw;
}

.presentation, .description
{
    overflow: hidden;
    align-self: center;
    position: relative;
    bottom: 2vw;
}

.presentation .text
{
    font-size: calc(0.5rem + 0.9vw);
    width: 40vw;
    color: var(--main-text-color);
}

.description .text
{
    font-size: calc(1rem + 0.9vw);
    width: 40vw;
    color: var(--main-text-color);
    white-space: pre-line;
}

.presentation-box
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


.presentation .learn
{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    object-fit: contain;
    filter: drop-shadow(0px 0px 6px rgb(78, 76, 76));
}

.presentation-box-text
{
    font-size: calc(0.5rem + 0.9vw);
    font-weight: bold;
    color: var(--main-text-color);
}

.competences .separator
{
    border-right: solid var(--main-text-color);
    width: 2.5vw;
    height: calc(100vh - 8.5vw);
}

.competences .title
{
    margin-left: 2.5vw;
    font-size: calc(1rem + 0.9vw);
    font-weight: bold;
    color: var(--main-text-color);
}

.competences .container
{
    position: absolute;
    left: 50vw;
    top: 4.5rem;
    width: 41.5vw;
    height: calc(100vh - 14.5vw);
    background-color: var(--container-color);
    border-radius: 30px;
    padding: 1vw 1vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;
}

.container-text
{
    font-size: calc(1rem + 0.9vw);
    color: #0A192F;
    margin-left: 1.4vw;
}

.container-box
{
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 1rem;
    padding-left: 1rem;
    overflow-x: scroll;
}

.container-box::-webkit-scrollbar {
    display: none;
  }

.box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    margin-top: 0.5vw;
}

.langage
{
    border-radius: 50%;
    width: calc(3rem + 2vw);
    height: calc(3rem + 2vw);
    object-fit: contain;
}

.box-text
{
    font-size: calc(0.7rem + 0.4vw);
    font-weight: bold;
    position: relative;
    top: 0.2vw;
    white-space: nowrap;
}

.langage:hover
{
    cursor: pointer;
}