nav
{
    font-size: 1.8rem;
    border-bottom: solid 1px black;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 5vw;
    background-color: rgba(256, 256, 256, 0.3);

}

nav ul
{
    height: inherit;
    position: relative;
    display: flex;
    list-style: none;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    right: 3vw;
}

nav li
{
    text-transform: capitalize;
}

.logo
{
    background-color: white;
    height: 5vw;
    width: 5vw;
    position: absolute;
}

nav a
{
    color: var(--main-text-color);
    font-weight: bold;
    -webkit-text-stroke: 1px var(--main-text-color);
}

.brightmode
{
    width: 3vw;
    position: absolute;
    top: 1vw;
    right: 4vw;
    cursor: pointer;
}

nav a:hover
{
    text-decoration: underline !important;  
}