nav
{
    font-size: 2rem;
    border-bottom: solid 1px black;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 5vw;
    background-color: rgba(256, 256, 256, 0.3);

}

nav ul
{
    height: inherit;
    position: relative;
    display: flex;
    list-style: none;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    right: 3vw;
}

nav li
{
    text-transform: capitalize;
}

.logo
{
    background-color: white;
    height: 5vw;
    width: 5vw;
    position: absolute;
}

nav a
{
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
    -webkit-text-stroke: 1px var(--main-text-color);
}

.brightmode
{
    width: 3vw;
    height: 1.5vw;
    background-color: var(--other-main-bg-color);
    position: absolute;
    top: 1.8vw;
    right: 4vw;
    border-radius: 30px;
    border: solid 2px #0A192F;

}

.switch
{
    background-color: var(--main-bg-color);
    height: 1.2vw;
    width: 1.2vw;
    top: 0.15vw;
    left: 0.2vw;
    position: absolute;
    border-radius: 50%;
}