nav
{
    font-size: 2.2vw;
    border-bottom: solid 1px black;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 5vw;
    background-color: rgba(256, 256, 256, 0.3);
}

ul
{
    position: relative;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding-left: 0px;
    align-items: center;
    margin: 0;
}

li
{
    margin-right: 6vw;
    text-transform: capitalize;
}

.logo
{
    background-color: white;
    height: 5vw;
    width: 10vw;
    margin-right:2vw;
}

a
{
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
    -webkit-text-stroke: 1px var(--main-text-color);
}

.brightmode
{
    width: 3vw;
    height: 1.5vw;
    background-color: var(--other-main-bg-color);
    position: relative;
    border-radius: 30px;
    left: 20vw;
    border: solid 2px #0A192F;

}

.switch
{
    background-color: var(--main-bg-color);
    height: 1.2vw;
    width: 1.2vw;
    top: 0.15vw;
    left: 0.2vw;
    position: absolute;
    border-radius: 50%;
}