#projets-section
{
    position: sticky;
    top: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(var(--main-bg-color), var(--second-bg-color));
    scroll-snap-align: start;
}

.projets
{
    position: absolute;
    top: 7vw;
    height: 93vh;
    width:100vw;
}

.projets .title
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2.2rem;
    color: var(--main-text-color);
}

.cards
{
    margin-top: 2vh;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.card
{
    background-color: green;
    width: 25rem;
    height: 17rem;
    border-radius: 16px;
}