#projets-section
{
    position: sticky;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(var(--main-bg-color), var(--second-bg-color));
    scroll-snap-align: start;
}

.projets
{
    position: absolute;
    top: 7vw;
    height: 93vh;
    width:100vw;
}

.projets .title
{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 2.2rem;
    color: var(--main-text-color);
    text-align: center;
}

.projets .text
{
    text-align: center;
    font-size: 1.8rem;
    color: var(--main-text-color);
    text-align: center;
    margin-top: 5vh;
}

.projets .carousel
{
    width: 75rem;
    height: 18rem;
    margin: auto;
    margin-top: calc((70vh - 85px)/2 - 9rem);
}

.cards
{
    display: flex;
    width: 75rem;
    gap: 3rem;
}

.cards .card
{
    width: 23rem;
    height: 15rem;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
}

.cards .card img
{
    width: 23rem;
    height: 15rem;
    border-radius: 16px;
}

.cards .card .name
{
    position: absolute;
    color: white;
    font-weight: 700;
    left: 3rem;
    bottom: 5rem;
    font-size: 1.8rem;
    transition: 500ms;
    opacity: 0;
    z-index: 3;
}

.cards .card .desc
{
    position: absolute;
    color: lightgrey;
    left: 3rem;
    bottom: 3rem;
    font-size: 1.2rem;
    transition: 500ms;
    opacity: 0;
    z-index: 3;
}

.cards .card .img-hover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 23rem;
    height: 15rem;
    z-index: 2;
    border-radius: 16px;
}

.cards .card .tags
{
    position: absolute;
    bottom: 0rem;
    display: flex;
    gap: 1rem;
    margin-left: 3rem;
    transition: 500ms;
    opacity: 0;
    z-index: 3;
}

.cards .card .tags p
{
    padding: 0.2rem 0.4rem;
    background-color: gray;
    color: white;
    font-size: 1rem;
    border-radius: 12px;
}

.cards .card:hover .img-hover
{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.cards .card:hover .name
{
    bottom: 6rem;
    transition: 500ms;
    opacity: 1;
}

.cards .card:hover .desc
{
    bottom: 4rem;
    transition: 500ms;
    opacity: 1;
}

.cards .card:hover .tags
{
    bottom: 1rem;
    transition: 500ms;
    opacity: 1;
}

.carousel.carousel-slider .control-arrow
{
    height: 15rem;
}

.carousel .slide 
{
    text-align: initial;
}

.carousel .carousel-status
{
    display: none;
}

#projets-section .photos
{
    width: 60vw;
    height: calc(100vh - 5vw);
    background-color: var(--main-bg-color);
    position: absolute;
    left: 0px;
    top: 5vw;
    z-index: 3;
}

#projets-section .photos .slides
{
    display: flex;
    height: inherit;
    width: 60vw;
}

#projets-section .photos .slides img
{
   object-fit: contain;
   height: calc(100vh - 5vw);
}

#projets-section .photos .slides .carousel.carousel-slider .control-arrow
{
    height: 100%;
}

#projets-section .info
{
    width: 40vw;
    height: calc(100vh - 5vw);
    background-color: var(--other-main-bg-color);
    position: absolute;
    right: 0px;
    top: 5vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projets-section .info .back
{
    position: absolute;
    top: 4vh;
    right: 5vw;
    font-size: 3rem;
    color: var(--other-main-text-color);
}

#projets-section .info .back:hover
{
    cursor: pointer;
}

#projets-section .info .name
{
    color: var(--other-main-text-color);
    font-size: 2.6rem;
    font-weight: bold;
    margin: 4vh 4vh 3vh 4vh;
}

#projets-section .info .desc
{
    color: var(--other-main-text-color);
    font-size: 1.1rem;
    padding: 0 7rem;
}

#projets-section .info .tags
{
    display: flex;
    gap: 1rem;
    align-self: baseline;
    padding: 2vh 7rem;
}

#projets-section .info .tags p
{
    padding: 0.3rem 0.8rem;
    background-color: gray;
    color: var(--other-main-text-color);
    font-size: 1rem;
    border-radius: 12px;
    font-weight: bold;
}